body { 
    background-color:#ddd; 
    box-sizing:border-box; 
    max-width:1000px; 
    margin: 0 auto; 
    font-family:sans-serif; 
} 

small { 
    display:block; 
    margin:0.7em 0; 
    font-size:90%; 
}

i { 
    padding:10px; 
    margin:2px; 
    background-color:#fff; 
    box-shadow:1px 1px 3px rgba(0,0,0,.15); 
    display:block; 
    float:left; 
}

.clearfix:after { 
    content:''; 
    display:table; 
    width:100%; 
    clear:both;
}