html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  color: rgb(211, 211, 211);
  background-color: #0e0e10;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
}

.main {
  height: 100%;
}

.main-content {
  padding: 20px;
  background-color: #0e0e10;
  overflow-y: scroll;
}

.title-highlight {
  color: #a970ff;
}



/* navbar */
.bar {
  background-color: #18181b;
  height: 70px;
  box-shadow: 0px 1px 1px black;
  z-index: 2;
  display: flex;
  position: sticky;
  top: 0;
}

.bar .nav {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
}

.logo {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
}

.bar .nav .aboutLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .aboutLink:hover {
  color: #a970ff;
  cursor: pointer;
}

.bar .nav .skillsLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .skillsLink:hover {
  color: #a970ff;
  cursor: pointer;
}

.bar .nav .projectsLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .projectsLink:hover {
  color: #a970ff;
  cursor: pointer;
}

#selected {
  color: #a970ff;
  border-bottom: 2px solid #a970ff;
}
/* end of navbar */



/* about me */
.about-me {
  margin-bottom: 8em;
}

.about-me h3{
  font-size: 2em;
  text-align: center;
}

.about-me-content {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 50px;
}

.para {
  margin: 0;
  font-size: 3.15vh;
  text-align: left;
}

.para:hover {
  cursor:default;
  color: #a970ff;
  /* transform: translate(5px, -5px); */
}

.about-me-content .images .images-cover {
  transition: transform 0.1s ease;
}

.about-me-content .images .images-cover:hover {
  transform: translate(5px, -5px);
}

.about-me-content .images .images-cover img {
  height: 100%;
  width: 100%;
}

.about-me-content .images .images-cover:hover img {
  box-shadow: -5px 5px #a970ff;
}
/* end of about me */



/* skills */
.my-skills {
  margin-bottom: 8em;
}

.my-skills h3{
  font-size: 2em;
  text-align: center;
}

.skills {
  text-align: center;
  align-items: center;
	padding: 15px;
  margin-left: 21.5vw;
  margin-right: 21.5vw;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size:  3.15vh;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.skills ul li:hover {
  color: #0e0e10;
  background-color: #a970ff;
  cursor: default;
}
/* end of skills */



/* projects */
.project-content {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
  margin-bottom: 10vw;
}

.projects h3{
  font-size: 2em;
  text-align: center;
}

.filter-projects{
  font-size: 1.5vw;
}

.card {
  background-color: rgb(211, 211, 211);
  border: 1px solid black;
  border-radius: 25px;
  height: fit-content;
  min-height: 525px;
  padding: 20px;
  text-align: center;
}

.card:hover {
  color: rgb(211, 211, 211);
  background-color: #0e0e10;
  box-shadow: 0 0 0 5px #a970ff;
}

.apiImage {
  height: 200px;
  width: 250px;
}

.aLink {
  color: black;
  text-decoration: none;
}

.filterForm {
  text-align: center;
}

#mySelect {
  color: rgb(211, 211, 211);
  background-color: transparent;
  border-color: #a970ff;
  text-align: center;
  font-size: 1.3vw;
  padding: 0.3vw;
  margin-bottom: 5vh;
}

.projectDesc{
  font-size: 0.8em;
  text-align: center;
  color: rgb(211, 211, 211);
}

.proj-description{
  padding-bottom: 4vh;
}

.o-divider {
  border: 0;
  margin: 20px;
  height: 1px;
  background: #656D78;
}
/* end of projects */



/* footer */
.footer {
  z-index: 1;
  display:grid;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height:12rem;
}

.bubbles {
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:1rem;
  background:#a970ff;
  filter:url("#blob");
}
.bubble {
  position: absolute;
  left:var(--position, 50%);
  background:#a970ff;
  border-radius:100%;
  animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform:translate(-50%, 100%);
}
.content {
  z-index: 2;
  display:grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding:2rem;
  background:#a970ff;
}
.linkTag{
  color:#0e0e10;
  text-decoration:none;
}
b {
  color:#0e0e10;
}
p {
  margin:0;
  font-size:.75rem;
}
.image {
  align-self: center;
  width:4rem;
  height:4rem;
  margin:0.25rem 0;
  background-size: cover;
  background-position: center;
}

.footerLogo {
  align-self: center;
  width:10vh;
  height:10vh;
  background-size: cover;
  background-position: center;
  margin-left: 3vh;
}

@keyframes bubble-size {
  0%, 75% {
      width:var(--size, 4rem);
      height:var(--size, 4rem);
  }
  100% {
      width:0rem;
      height:0rem;
  }
}
@keyframes bubble-move {
  0% {
      bottom:-4rem;
  }
  100% {
      bottom:var(--distance, 10rem);
  }
}
/* end of footer */



/* hiding content */
.hiding-content{
  display: none;
}
/* end of hiding content */



/* media screens */
@media (max-width: 1305px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  .main {
    grid-template-columns: 50px 12fr;
  }
}
/* end of media screens */