html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  color: rgb(211, 211, 211);
  background-color: #0e0e10;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
}

.bar {
  background-color: #18181b;
  height: 70px;
  box-shadow: 0px 1px 1px black;
  z-index: 2;
  display: flex;
  position: sticky;
  top: 0;
}

.bar .nav {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
}

.logo {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
}

.logo h1 {
  content: '';
}
.bar .nav .item {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.bar .nav .item:hover {
  color: #a970ff;
  cursor: pointer;
}

#selected {
  color: #a970ff;
  border-bottom: 2px solid #a970ff;
}

.main {
  height: 100%;
}

.main .stream-content p:hover {
  cursor:default;
  color: #a970ff;
  /* transform: translate(5px, -5px); */
}

.stream-content {
  padding: 20px;
  background-color: #0e0e10;
  overflow-y: scroll;
}

.games h3{
  font-size: 2em;
  text-align: center;
}

.games-carousel {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 50px;
}

.para {
  margin: 0;
  font-size: 3.15vh;
  text-align: left;
}

.games-carousel .game .game-cover {
  transition: transform 0.1s ease;
}

.games-carousel .game .game-cover:hover {
  transform: translate(5px, -5px);
}
.games-carousel .game .game-cover img {
  height: 100%;
  width: 100%;
}

.games-carousel .game .game-cover:hover img {
  box-shadow: -5px 5px #a970ff;
}

.games-carousel .game .game-info .game-title,
.stream-carousel .stream .stream-text .stream-title,
.video-carousel .video .video-text .video-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.game-info .game-viewership,
.stream-text .stream-host,
.stream-text .stream-game,
.video-text .video-host,
.video-text .video-game {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(163, 163, 163);
}

.title-highlight {
  color: #a970ff;
}

.game-categories span {
  background-image: linear-gradient(45deg, #6441a4, #a970ff);
  padding: 2px 0.8rem;
  color: white;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
}

.streams h3{
  font-size: 2em;
  text-align: center;
}

.video-carousel {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
}

.videos h3{
  font-size: 2em;
  text-align: center;
}

.stream-carousel .stream .stream-thumbnail,
.video-carousel .video .video-thumbnail {
  transition: transform 0.1s ease;
}

.stream-carousel .stream .stream-thumbnail:hover,
.video-carousel .video .video-thumbnail:hover {
  transform: translate(5px, -5px);
  cursor: pointer;
}

.stream-carousel .stream .stream-thumbnail:hover img,
.video-carousel .video .video-thumbnail:hover img {
  box-shadow: -5px 5px #a970ff;
}

.stream-carousel .stream .stream-thumbnail img,
.video-carousel .video .video-thumbnail img {
  width: 100%;
  height: 100%;
}

.stream-carousel .stream .stream-thumbnail span,
.video-carousel .video .video-thumbnail span {
  position: relative;
  font-size: 14px;
}

.viewers {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 30px;
  left: 5px;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 100;
  color: white;
}

.stream-carousel .stream-info,
.video-carousel .video-info {
  display: flex;
}

.stream-carousel .stream-info .stream-text,
.video-carousel .video-info .video-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.stream-carousel .stream-info .stream-profile-avatar,
.video-carousel .video-info .video-profile-avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 10px;
}

.stream-carousel .stream-info .stream-profile-avatar img,
.video-carousel .video-info .video-profile-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.skills {
  text-align: center;
  align-items: center;
	padding: 15px;
  margin-left: 21.5vw;
  margin-right: 21.5vw;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size:  3.15vh;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.skills ul li:hover {
  color: #0e0e10;
  background-color: #a970ff;
  cursor: default;
}


@media (max-width: 1305px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  .main {
    grid-template-columns: 50px 12fr;
  }
}

.footer {
  z-index: 1;
  display:grid;
  position: relative;
  min-height:12rem;
}

.bubbles {
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:1rem;
  background:#a970ff;
  filter:url("#blob");
}
.bubble {
  position: absolute;
  left:var(--position, 50%);
  background:#a970ff;
  border-radius:100%;
  animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform:translate(-50%, 100%);
}
.content {
  z-index: 2;
  display:grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding:2rem;
  background:#a970ff;
}
.linkTag{
  color:#0e0e10;
  text-decoration:none;
}
b {
  color:#0e0e10;
}
p {
  margin:0;
  font-size:.75rem;
}
.image {
  align-self: center;
  width:4rem;
  height:4rem;
  margin:0.25rem 0;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%, 75% {
      width:var(--size, 4rem);
      height:var(--size, 4rem);
  }
  100% {
      width:0rem;
      height:0rem;
  }
}
@keyframes bubble-move {
  0% {
      bottom:-4rem;
  }
  100% {
      bottom:var(--distance, 10rem);
  }
}

/* for projects */
.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  height: fit-content;
  padding: 20px;
  text-align: center;
}

.card:hover {
  color: #a970ff;
  background-color: #0e0e10;
  box-shadow: -5px 5px #a970ff;
}

.apiImage {
  height: 200px;
  width: 250px;
}

.aLink {
  color: black;
  text-decoration: none;
}