body {
  background-color: #5e6768;
  margin: 0;
}

.selfie {
  width: 300px;
  height: 500px;
  float: left;
  padding: 1em;
  padding-top: 2em;
}

.img-memory {
  padding: 1em;
  padding-top: 2em;
  padding-right: 1.5em;
  float: left;
  width: 30%;
  height: 30%;
}

.img-git {
  padding: 1em;
  padding-top: 2em;
  float: left;
  width: 30%;
  height: 100%;
  display: block;
  padding-right: 1.5em;
}

.img-safari {
  padding: 1em;
  padding-right: 1.5em;
  float: left;
  width: 30%;
  height: 30%;
}

.img-ford {
  padding: 1em;
  float: left;
  width: 30%;
  height: 30%;
  padding-right: 1.5em;
}

.my_name {
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  color: #333;
  margin: 0px;
}

.nav-header {
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  color: #d0f0c0;
  margin: 0px;
  padding-top: 0.3em;
}

.paragraph {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  color: #d0f0c0;
  padding: 0.5em;
  margin: -17px;
}

.para-skills {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  color: #d0f0c0;
  padding: 0.5em;
  padding-right: 1em;
  margin: -17px;
  text-align: center;
}

.para-projects {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 34.5px;
  color: #d0f0c0;
  padding: 0.7em;
  margin: -17px;
}

.para-underproject {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 34.5px;
  color: #d0f0c0;
  padding: 0.3em;
  margin: 0px;
}

.nav-para {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  color: #d0f0c0;
  padding-top: 0.8em;
  margin: -17px;
  text-align: center;
}

.container {
  padding: 2em;
  background: #1abc9c;
  font-size: 30px;
  margin: -7.5px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  margin: -7.5px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

.the_head {
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  color: #d0f0c0;
  margin: 0px;
  padding-top: 0.5em;
}

.linkedin {
  width: 100px;
  height: 100px;
  padding-left: 1em;
}

.github {
  width: 110px;
  height: 110px;
}

.the_middle {
  text-align: center;
}
