body {
  background-color: black;
}

.selfie {
  width: 300px;
  height: 500px;
  float: left;
  padding: 1.5em;
}

.my_name {
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  color: #39ff14;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0px;
}

.para {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  color: #39ff14;
  padding: 0.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: -20px;
}

.more_about:link {
  color: #39ff14;
  text-decoration: none;
  border-style: outset;
  border-color: #39ff14;
}

.more_about:visited {
  text-decoration: none;
  color: #39ff14;
  border-style: outset;
  border-color: #39ff14;
}

.more_about:hover {
  color: #7fffd4;
  text-decoration: none;
  border-style: inset;
  border-color: #7fffd4;
}

.linkedin:link {
  color: #39ff14;
  text-decoration: none;
}

.linkedin:visited {
  text-decoration: none;
  color: #39ff14;
}

.linkedin:hover {
  color: #7fffd4;
  text-decoration: none;
}
