html,
body {
  margin: 0;
  padding: 0;
  font-family: 'arcon';
  color: rgb(211, 211, 211);
  background-color: #0e0e10;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
}

.main {
  height: 100%;
}

.main-content {
  padding: 20px;
  background-color: #0e0e10;
  overflow-y: scroll;
}

.title-highlight {
  color: rgb(37, 150, 190);
}



/* navbar */
.bar {
  background-color: #18181b;
  height: 70px;
  box-shadow: 0px 1px 1px black;
  z-index: 2;
  display: flex;
  position: sticky;
  top: 0;
}

.bar .nav {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
}

#spooky:hover {
  cursor: pointer;
}

.dancing_skeleton {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
  width: 0.1em;
  height: 0.1em;
}

.logo {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
}

.bar .nav .aboutLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .aboutLink:hover {
  color: rgb(37, 150, 190);
  cursor: pointer;
}

.bar .nav .skillsLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .skillsLink:hover {
  color: rgb(37, 150, 190);
  cursor: pointer;
}

.bar .nav .projectsLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .projectsLink:hover {
  color: rgb(37, 150, 190);
  cursor: pointer;
}

#selected {
  color: rgb(37, 150, 190);
  border-bottom: 2px solid rgb(37, 150, 190);
}
/* end of navbar */



/* about me */
.about-me {
  margin-bottom: 8em;
}

.about-me h3{
  font-size: 2em;
  text-align: center;
}

.about-me-content {
  max-width: 100%;
  text-align: center;
  /* display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 50px; */
}

.para {
  margin: 0;
  padding: 0;
  font-size: 3.15vh;
  margin-left: 26vh;
  margin-right: 26vh;
}

.para a {
  font-family: 'arcon';
  color: rgb(211, 211, 211);
  text-decoration: none;
  transition: 0.8s;
}

.para a:hover {
  transition: 0.8s;
  color: rgb(37, 150, 190);
  text-decoration: double;
}

.images-cover{
  position: relative;
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height: 44.5vh;
  width: 23vh;
  margin-bottom: 5vh;
  text-align: center;
}

.overlay:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.quote {
  background-color: rgba(14, 14, 16, 0.8);
  position: absolute;
  margin: 0;
  padding: 1vh;
  padding-top: 1.5vh;
  left: 0;
  bottom: 0;
}

.about-me-content .images .images-cover img {
  height: 50vh;
  margin-bottom: 5vh;
  transition: transform 0.1s ease;
}
/* end of about me */



/* skills */
.my-skills {
  margin-bottom: 8em;
}

.my-skills h3{
  font-size: 2em;
  text-align: center;
}

.skills {
  text-align: center;
  align-items: center;
	padding: 15px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul a {
  color: rgb(211, 211, 211);
  text-decoration: none;
}

.skills ul li {
  transition: 0.5s;
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size:  3.15vh;
	margin: 0 7px 7px 0;
	padding: 7px;
  width: 20vh;
}

.skills ul li img{
	width: 5vh;
  padding-top: 3.5vh;
}

.skills ul li:hover {
  transition: 0.5s;
  color: #0e0e10;
  background-color: rgb(37, 150, 190);
  cursor: default;
}
/* end of skills */



/* projects */
.projects{
  margin-bottom: 25vh;
}

.project-content {
  padding: 3.75%;
  display: grid;
  grid-template-columns: 100%;
  gap: 5vw;
  justify-content: center;
}

.projects h3{
  font-size: 2em;
  text-align: center;
}

.aLink {
  color: black;
  text-decoration: none;
}

.card {
  list-style-type: none;
  background-color: #0e0e10;
  border-radius: 25px;
  height: fit-content;
  min-height: 84vh;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 0 5px rgb(211, 211, 211);
  color: rgb(211, 211, 211);
}

.card:hover {
  box-shadow: 0 0 0 5px rgb(37, 150, 190);
}

.apiImage {
  height: 200px;
  width: 250px;
}

.filterForm {
  text-align: center;
}

#mySelect {
  color: rgb(211, 211, 211);
  background-color: transparent;
  border-color: rgb(37, 150, 190);
  text-align: center;
  font-size: 2vh;
  padding: 0.3vw;
  margin-bottom: 5vh;
}

.projectDesc{
  font-size: 0.8em;
  text-align: center;
  color: rgb(211, 211, 211);
}

.proj-description{
  padding-bottom: 4vh;
}

.o-divider2 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider2 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider3 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider3 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider4 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider4 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider5 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider5 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider6 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider6 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider7 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider7 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider8 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider8 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider9 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider9 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider10 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider10 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider11 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider11 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider12 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider12 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider-under {
  border: 0;
  margin: 20px;
  margin-bottom: 10vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}
/* end of projects */



/* footer */
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer h2 {
  font-size: 5vh;
  margin: 0;
  padding-bottom: 4.5vh;
  color: #fff;
}

.social_icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0;
  flex-wrap: wrap;
}

.social_icon li{
  list-style: none;
}

.social_icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social_icon li a:hover{
  transform: translateY(-10px);
}

.wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(imageStorage/wave.png);
  background-size: 1000px 100px;
}

#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

#wave2{
  z-index: 99;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

#wave4{
  z-index: 99;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px;
  }
}
/* end of footer */

/* inactivity content */
.judging_skeleton {
  position: fixed;
  bottom:0;
  right: 0;
  z-index: 10000;
  animation: fadeIn 15s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* end of inactivity content */



/* hiding content */
.hiding-content{
  display: none;
}
/* end of hiding content */



/* media screens */
@media (max-width: 1305px) {
  .main {
    grid-template-columns: 50px 12fr;
  }
}

@media screen and (max-width: 557px){
  .closeOnSmall {
    display: none;
  }

  .logo h1 {
    margin-right: 25vw;
  }

  .para {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-height: 600px){
  .overlay {
    display: none;
  }
}

@media only screen and (min-width: 981px) {
  .project-content {
    grid-template-columns: 47.5% 47.5%;
  }
}

@media only screen and (min-width: 1350px) {
  .project-content {
    grid-template-columns: 30% 30% 30%;
  }
}
/* end of media screens */