/* uncomment when you can find a dark mode text editor */
/* body {
    background-color: black;
} */

.instructions {
    font-size:  3vh;
    text-align: center;

    /* uncomment when you can find a dark mode text editor */
    /* color: white; */
}

code {
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
}

.git-link {
    /* uncomment when you can find a dark mode text editor */
    /* color: white; */

    /* comment out the line below when you can find a dark mode text editor */
    color: black;

    transition: 1s;
}

.git-link:hover {
    color: lightskyblue;
    font-size: 3.5vh;
    text-decoration: none;
}