@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Prata", serif;
  color: rgb(211, 211, 211);
  background-color: #18181b !important;
  box-sizing: border-box;
  cursor: default;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
}

.main {
  height: 100%;
}

.main-content {
  padding: 20px;
  background-color: #0e0e10;
  overflow-y: scroll;
}

.title-highlight {
  color: rgb(37, 150, 190);
}



/* navbar */
.bar {
  background-color: #18181b;
  height: 70px;
  box-shadow: 0px 1px 1px black;
  z-index: 2;
  display: flex;
  position: sticky;
  top: 0;
}

.bar .nav {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
  height: 100%;
}

.season_gif {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
  width: 0.2em;
  height: 0.2em;
  cursor: pointer;
}

.logo {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
  color: rgb(211, 211, 211);
}

.bar .nav .aboutLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .aboutLink:hover {
  color: rgb(37, 150, 190);
  cursor: pointer;
}

.bar .nav .skillsLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .skillsLink:hover {
  color: rgb(37, 150, 190);
  cursor: pointer;
}

.bar .nav .projectsLink {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none!important;
  border: none;
  color: rgb(211, 211, 211);
}

.bar .nav .projectsLink:hover {
  color: rgb(37, 150, 190);
  cursor: pointer;
}

.bar .nav .yearsOfCoding {
  font-size: 14px;
  margin: 0 20px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  color: rgb(211, 211, 211);
}

#selected {
  color: rgb(37, 150, 190);
  border-bottom: 2px solid rgb(37, 150, 190);
}
/* end of navbar */



/* about me */
.about-me {
  height: 74.5vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-content {
  max-width: 80%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: rgb(211, 211, 211);
}

.about-me-content img {
  border-radius: 1em;
  max-height: 50vh;
  height: 50vh;
  transition: transform 0.1s ease;
  margin-right: 2.5vw;
}

.about-me-content h3{
  font-size: 3.5vh;
  margin: 0.5vh;
}

.about-me-content div {
  width: 45%;
}

.para {
  margin: 0;
  padding: 0;
  font-size: 2.5vh;
}

.para a {
  font-family: 'arcon';
  color: rgb(211, 211, 211);
  text-decoration: none;
  transition: 0.8s;
}

.para a:hover {
  transition: 0.8s;
  color: rgb(37, 150, 190);
  text-decoration: double;
}
/* end of about me */



/* skills */
.my-skills {
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.32em;
  margin-bottom: 6.32em;
  color: rgb(211, 211, 211);
}

.my-skills h3{
  font-size: 2em;
  text-align: center;
}

.skills {
  text-align: center;
  align-items: center;
	padding: 15px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills ul a {
  color: rgb(211, 211, 211);
  text-decoration: none;
}

.skills ul li {
  transition: 0.5s;
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size:  3.15vh;
	margin: 0 7px 7px 0;
	padding: 7px;
  width: 20vh;
}

.skills ul li img{
	width: 5vh;
  padding-top: 3.5vh;
}

.skills ul li:hover {
  transition: 0.5s;
  color: #0e0e10;
  background-color: rgb(37, 150, 190);
}
/* end of skills */



/* projects */
.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 80%;
  padding: 2%;
  justify-content: center;
}

.projects h3{
  font-size: 2em;
  text-align: center;
}

.aLink {
  color: black;
  text-decoration: none;
}

.card {
  list-style-type: none;
  background-color: #0e0e10;
  border-radius: 25px;
  min-height: fit-content;
  max-height: 84vh;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 0 5px rgb(211, 211, 211);
  color: rgb(211, 211, 211);
}

.card:hover {
  box-shadow: 0 0 0 5px rgb(37, 150, 190);
}

.apiImage {
  height: 200px;
  width: 250px;
}

.filterForm {
  text-align: center;
}

#mySelect {
  color: rgb(211, 211, 211);
  background-color: transparent;
  border-color: rgb(37, 150, 190);
  text-align: center;
  font-size: 2vh;
  padding: 0.3vw;
}

.projectDesc{
  font-size: 0.8em;
  text-align: center;
  color: rgb(211, 211, 211);
}

.proj-description{
  padding-bottom: 4vh;
}

.card-description {
  font-size: 1em;
  padding: 0;
  margin: 0;
  margin-top: 14px;
  max-height: 11em;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-description::-webkit-scrollbar {
  display: none;
}

.o-divider2 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider2 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider3 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider3 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider4 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider4 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider5 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider5 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider6 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider6 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider7 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider7 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider8 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider8 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider9 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider9 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider10 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider10 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider11 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider11 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider12 {
  border: 0;
  margin: 20px;
  margin-bottom: 15vh;
  height: 1px;
  background: #656D78;
  text-align: center;
}

.o-divider12 p{
  font-size: 6vh;
  padding-top: 4vh;
  color: rgb(37, 150, 190);
  text-transform: uppercase;
}

.o-divider-under {
  border: 0;
  margin: 20px;
  height: 1px;
  background: #656D78;
  text-align: center;
}
/* end of projects */



/* footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #18181b;
  padding: 20px 0;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #fff;
  font-size: 0.5em;
  margin-top: 0.5rem;
  margin-bottom: 1em;
}

.linkedin {
  margin-left: 0;
}

.social_icon a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}

.social_icon a i {
  margin-top: 0.4em;
}

.social_icon a i:hover{
  transition: 0.8s;
  color: #3586ff;
  transform: translateY(-10px);
}
/* end of footer */

/* inactivity content */
.inactive_class {
  position: fixed;
  bottom:0;
  right: 0;
  z-index: 10000;
  animation: fadeIn 15s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* end of inactivity content */



/* hiding content */
.hiding-content{
  display: none !important;
}
/* end of hiding content */